<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Album</a><br />
<table>
<h1>Album list</h1>
<div th:each="album : ${albums}">
    <h2 th:text="${album.name}"></h2>
    <h6 th:inline="text">released in [[${album.year}]]</h6>
    <ul>
        <th:block th:each="song : ${album.songs}">
            <li th:inline="text"><b>[[${song.name}]]</b>  composed by  [[${song.composer}]].</li>
        </th:block>

    </ul>
</div>
</table>
</body>
</html>